
* {
  	margin: 0;
  	padding: 0;
  }

/*Bakgrundsfärg*/
.background {
	background-image: linear-gradient( rgba(122, 171, 241, 0.849), rgb(235, 224, 224));
	background-attachment: fixed;

}
/*Övergrippande inställningar för html, scrollbeteende och font + alternativa fonts*/
html {
	scroll-behavior: smooth;
	font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Boxxy gör boxes*/
.boxxy {
	border: 3px solid rgb(255, 255, 255) ;
	border-radius: 0.3em;
	background-color: rgba(14, 138, 27, 0.616);
	display: flex;
	flex-direction: column;
	padding: 1em;
	grid-column-start: 2;
}



h2 {
	align-self: flex-start;
	color: rgb(12, 15, 15);
		text-shadow: 1px 0 rgba(163, 160, 160, 0.696), 0 1px rgb(168, 166, 166);
	text-align: left;
	background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgb(14, 203, 87));
	border-radius: 5px;
}
