.dagbox {
	display:none;
	text-align: center;
}
/*visar den valda dagen*/
.dagbox:target {
	display: block;

}
.dagboxEventholder {
	text-align: center;
	padding: 1em 2em;
	/*width: 44.5em;*/
	grid-row-start: 3;
	margin-top: 1em;
	max-width: 50em;


}
.eventbox {
	box-sizing: border-box;

	max-height: 7em;
	background-color: #00bf7d;
	margin: 1em;
	border-radius: 5px;

	display:flex;
	align-items: center;
	text-align: left;
	overflow: hidden;
}
.eventinfo {
	font-size: 1.2em;
}

.eventinfo li, P{
	margin: 0.5em;

}


.bild {
	flex: 1;
}

.bild img {
	/*width: 100%;
	height: 100%;*/
	object-fit: cover;
}

.infoText {
	flex: 2;
	padding: 0.3em;

}

#event2,
#event3 {
	display: none;
}
#event2:target,
#event3:target {
	display: block;
}

#event2:checked ~ #event1,
#event3:checked ~ #event1 {
	display: none;
}