.dagbox {
	display:none;
	text-align: center:
}
/*visar den valda dagen*/
.dagbox:target {
	display: block;

}
.dagboxEventholder {
	text-align: center;
	padding: 1em 2em;
	/*width: 44.5em;*/
	grid-row-start: 3;
	margin-top: 1em;


}
.eventbox {
	box-sizing: border-box;
	/*width: 43em;*/
	max-height: 7em;
	background-color: #00bf7d;
	margin: 1em;
	border-radius: 5px;
	/*padding: 1em 1em 0;*/
	display:flex;
	align-items: center;
	text-align: left;
	overflow: hidden;
	transition: all 1.5s;
	animation: ease-in;

}
.eventbox:hover {
	transform: scale(1.2);
	box-shadow: 20px 20px 10px rgba(73, 73, 73, 0.36);
}

.eventbox h4 {

}

.bild {
	flex: 1;
}

.bild img {
	/*width: 100%;
	height: 100%;*/
	object-fit: cover;
}

@media screen and (max-width: 700px) {
 	.bild {
 		display: none;
 	}
}

.infoText {
	flex: 2;
	padding: 0.3em;

}

#event2,
#event3 {
	display: none;
}
#event2:target,
#event3:target {
	display: block;
}

#event2:checked ~ #event1,
#event3:checked ~ #event1 {
	display: none;
}