/*gridposition för formulär*/
.formular {
	grid-row-start: 4;
	text-align: left;
	width: 45%;
	padding: 5px;
	}

.formularFalt {
	margin: 1.5em;
}

.formularFalt input, select {
	width: 80%;
	border-radius: 5px;
	height: 30px;
	font-size: large;
	margin-bottom: 1.5em;
}


/*layout av formulärsfrågor*/
.formular label {
	display: block;
	align-items: center
	;
}

/*layouten för checkboxar i formulär*/
.formdag {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 10px;
	background-color: rgba(196, 233, 233, 0.877);
	padding: 0.5em;
	margin: 0.5em 1.5em 0.5em 1.5em;
	border-radius: 5px;
	width: 80%;

}

.radioknapp {
	display: flex;
	align-items: center;
}

.radioknapp label {
	margin-right: 1em;
}

.formdag input {
	height: 2em;
}

.checkbox {
	display: flex;
	align-items: right;
}

.checkbox input{
	margin-right: 10px;
}
/*Döljer valet av individuella dagar som default*/
#doldaDagar {
	display: none;
}

/*visar valet av indivulla dagar*/
#visaFormDag:checked + #doldaDagar {
	display: block;
}

.formular input:empty {
	border-color: black;
	background-color: white;
}
/*Godkänn input i form*/
.formular input:valid {
	border-color: rgb(15, 236, 15);
	background-color: rgb(168, 246, 168);
}


@media screen and (max-width: 800px) {
	.boxxy {
		width: auto;
	}
}

#visaFormDag:checked~#doldaDagar {
	display: block;
}
