.knapp {
	padding: 1em 2em;
	background-color: rgb(244, 214, 178);
	color: black;
	margin: 0.5em;
	border-style: outset;
	border-color: aquamarine;
	border-radius: 4px;
}

.knapp:hover {
	box-shadow: 0 0 20px white;
}

.knappgrid {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	padding: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
}

.takeMeBack {
	opacity: 0.5;
	position: fixed;
	bottom: 0.75em;
	right: 0.75em;
	background-color: 0.5;
}

.takeMeBack:hover {
	opacity: 1;
	transition: opacity 1s;
}