@media only screen and (max-width: 700px) {
	.gridlayout {
			display: grid;
			grid-template-columns: auto ;
	}

	.bild {
		display: none;
	}

	.boxxy {
			width: auto;
			grid-column-start: auto;
			padding: 0em;
	}

	.knappgrid {
		flex-direction: column;
		flex-wrap: wrap;
	}
	.eventbox {
		max-height: 20em;

	}

	.header h1 {
		font-size: 14.5vw;
	}

}

@media only screen and (min-width: 700px) {
		.eventbox {
		transition: all 1.5s;
		animation: ease-in;

		}

		.eventbox:hover {
			transform: scale(1.2);
			box-shadow: 20px 20px 10px rgba(73, 73, 73, 0.36);
		}
}